/********** HOME COMPONENT **********/

.background {
  background-color: rgb(10, 10, 10);
  height: 100%;
  display: grid;
  justify-content: center;
}
.container {
  width: 80vw;
}
.navTop {
  height: 10vh;
}

.tempC {
  height: 500px;
  font-size: 5rem;
  color: azure;
}

/********** NAVABAR SECTION **********/

hr {
  border: none;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    #c2bfcc,
    transparent
  );
}
.navBg {
  background-color: rgba(10, 10, 10, 255);
}
.nav {
  display: flex;
  font-size: 1.6rem;
  color: #c2bfcc;
  align-items: center;
  column-gap: 2rem;
}
.navLogo {
  font-family: "Rubik Glitch", cursive;
  margin-right: auto;
  font-size: 3rem;
  padding-left: 5rem;
  cursor: pointer;
  background-color: #c2bfcc;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navItem {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
}
.navItem:nth-child(4) {
  padding-right: 5rem;
}
/*** FOR SHOW NAVABAR ON SCROLL UP FEATURE ***/
.navContainer {
  padding-top: 10px;
}
.sticky {
  padding-top: 10px;
  position: sticky;
  top: 0px;
}

/********** WELCOME MESSAGE SECTION **********/

.welcome {
  text-align: center;
  color: white;
  margin: 400px 0 700px 0;
  font-family: "M PLUS 1 Code", sans-serif;
}
.txtLine1 {
  font-size: 6rem;
}
.txtLine2 {
  font-size: 1.6rem;
}
p {
  margin: 0;
}

/********** PROJECTS SECTION **********/
.tempP {
  height: 500px;
  font-size: 5rem;
  color: azure;
}

/********** MEDIA **********/

/* Phones */
@media (max-width: 599px) {
  /********** NAVABAR SECTION **********/
  .nav {
    font-size: 0.9rem;
    column-gap: 0.8rem;
  }
  .navLogo {
    font-size: 0.9rem;
    padding-left: 1rem;
  }
  .navItem:nth-child(4) {
    padding-right: 1rem;
  }
  /********** WELCOME SECTION **********/
  .txtLine1 {
    font-size: 3rem;
  }
  .txtLine2 {
    font-size: 0.8rem;
  }
}
/* Tablet */
@media (min-width: 600px) and (max-width: 767px) {
  /********** NAVABAR SECTION **********/
  .nav {
    font-size: 0.9rem;
    column-gap: 0.8rem;
  }
  .navLogo {
    font-size: 1.5rem;
    padding-left: 2rem;
  }
  .navItem:nth-child(4) {
    padding-right: 2rem;
  }
  /********** WELCOME SECTION **********/
  .welcome {
    margin: 400px 0 450px 0;
  }
  .txtLine1 {
    font-size: 3.5rem;
  }
  .txtLine2 {
    font-size: 1rem;
  }
}
/* Laptop */
@media (min-width: 768px) and (max-width: 899px) {
  /********** NAVABAR SECTION **********/
  .nav {
    font-size: 1rem;
    column-gap: 1rem;
  }
  .navLogo {
    font-size: 2rem;
    padding-left: 3rem;
  }
  .navItem:nth-child(4) {
    padding-right: 3rem;
  }
  /********** WELCOME SECTION **********/
  .txtLine1 {
    font-size: 4rem;
  }
  .txtLine2 {
    font-size: 1.1rem;
  }
}
/* Monitor */
@media (min-width: 900px) and (max-width: 1199px) {
  /********** NAVABAR SECTION **********/
  .nav {
    font-size: 1.1rem;
    column-gap: 1.5rem;
  }
  .navLogo {
    font-size: 2.2rem;
    padding-left: 4rem;
  }
  .navItem:nth-child(4) {
    padding-right: 4rem;
  }
  /********** WELCOME SECTION **********/
  .txtLine1 {
    font-size: 4rem;
  }
  .txtLine2 {
    font-size: 1.1rem;
  }
}

/********** MEDIA for landscape orientation **********/
/* Phones */
@media (max-width: 599px) and (orientation: landscape) {
  /********** WELCOME SECTION **********/
  .welcome {
    margin: 200px 0 300px 0;
  }
}
/* Tablet */
@media (min-width: 600px) and (max-width: 767px) and (orientation: landscape) {
  /********** WELCOME SECTION **********/
  .welcome {
    margin: 300px 0 400px 0;
  }
}
